/* resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and newer browsers */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
